<div class="container">
	<footer class="footer">
		<small>
			Professional Ruby on Rails Developer with Rails 5 Course
			- Teacher: Mashrur Hossasin / Student: <a href="http://www.linkedin.com/in/emersonff">Emerson Freitas</a>
		</small>
	</footer>
</div>